
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #222;
}

/*  NAVIGATION  */

.main-nav {
    width: 100%;
    background: #000000;
    /*min-height: 30px*/
    padding: 10px;
    position: fixed;
}

.nav {
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.nav li {
    padding: 5px 10px 10px 10px;
}

.nav a {
    transition: all .5s;
}

.nav a:hover {
    color: white;
}


/*  HEADER  */

.profile-image {
    margin-top: 50px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px groove white;
    transition: all .5s;
}

.profile-image:hover {
    transform: scale(1.2);
}

header {
    text-align: center;
    background: url('images/lastsupper12.jpg') no-repeat top center;
    background-size: cover;
    overflow: hidden;
    padding-top: 60px;
    line-height: 1.5;
}

.tag {
    background-color: #efefef;
    color: black;
    padding: 10px;
    border-radius: 5px;
    display: table;
    margin: 10px auto;
}

.intro {
    background-color: #222;
    color: yellow;
}